body {
  padding: 50px;
  background-color: #c7d8de !important;
}

.container {
  margin-top: 50px;
}

.custom-heading {
  color: #dc3545;
  font-size: 24px;
  font-weight: bold;
}

header {
  margin-bottom: 30px;
}

.contact-photo {
  width: 100%;
  height: 500px;
}

.contact-title {
  margin-top: 20px;
}

.contact-details-list {
  list-style-type: none;
  padding: 0;
}

.description-title {
  margin-top: 20px;
}
