/* Custom styles for your webpage */
body {
  padding: 50px;
  background-color: #c7d8de !important;
}

.container {
  margin-top: 50px;
}

.custom-heading {
  color: #dc3545;
  font-size: 24px;
  font-weight: bold;
}

/* .detail-view,
.list {
  margin-top: 40px;
  margin-bottom: 100px;
} */
