body {
  padding: 50px;
  /* background-color: #c7d8de !important; */
}

.container {
  margin-top: 50px;
}

.custom-heading {
  color: #dc3545;
  font-size: 24px;
  font-weight: bold;
}

header {
  margin-bottom: 30px;
}
