.dock-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.dock-wrapper:hover {
  opacity: 1;
}

.dock {
  display: flex;
}

.dock-icon {
  cursor: pointer;
  width: 64px;
  height: 64px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center bottom;
  background: transparent;
  border: none;
  padding: 5px;
  margin: 0;
}

.dock-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dock.animated .dock-icon {
  transition: 0.1s;
  transition-property: transform transform-origin;
}

.dock-modal {
  margin: auto;
  position: absolute;
  bottom: 180px;
  left: 0;
  right: 0;
  /* background-color: rgba(0, 0, 0, 0.8); */
  color: black;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  white-space: nowrap;
  height: 20px;
  width: 100px;
  display: flex;
  justify-content: center;
}

.dock-modal.show {
  opacity: 1;
}
